body {
	font-weight: normal;
	position: relative;
	background-color: #ffffff;
}
html, body {
	overflow-x: hidden;
	font-size: 100%;
	max-width: 100%;
	max-height: 100%;
}
p {
	padding-bottom: 20px;
}
.container-fluid {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.navbar-default {
	margin-bottom: 0;
	border: none;
	background: linear-gradient(to right, #b697f6 , #62d9e7);
	background-image: -webkit-gradient(linear, left, right, from rgba(182, 151, 246, 0.86) , to rgba(98, 217, 231, 0.86));
	background-image: -webkit-linear-gradient(left, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
	background-image: -moz-linear-gradient(right, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
	background-image: -o-linear-gradient(right, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
	background-image: linear-gradient(to right, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
}
.navbar-right {
  padding-right: 70px;
}
.navLinks {
  margin-top: 14px;
  text-transform: uppercase;
  color: #fff;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-toggle {
  margin-right: 50px;
  margin-top: 24px;
}
.navbar-right li {
  padding-left: 15px;
}
.logo {
  width: 50px;
  height: 50px;
  margin: 15px 0 15px 50px;
}
.navBtn {
  margin-top: 22px;
  background: #fff;
  padding-left: 0 !important;
  margin-left: 25px;
  border: none;
  border-radius: 5px;
	text-align: center;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
	font-size: 12px;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #7c3cff;
}
.navbar-default .navbar-nav>.navBtn>a {
  color: #62d9e7;
	padding: 5px 10px;
}
.headerImg {
  padding: 0;
	height: 520px;
}
.mainImg {
  width: 100vw;
}
.image {
	width: 100%;
}
.clients {
	padding: 20px;
}
footer {
  background: #212121;
  padding: 20px 5px;
	text-align: left;
}
footer ul li {
  list-style: none;
  color: #fff;
}
footer li a {
  color: #fff;
}
.firstFooterLinks>li {
  margin-bottom: 30px;
}
.firstFooterLinks>li>a, .firstFooterLinks>.copy {
  margin-left: 10px;
}
.firstFooterLinks {
	padding: 0;
}
.footer>ul {
	padding-left: 10px;
}
.videos {
  padding: 0;
}
.videos img {
	height: 260px;
}
#goesUp {
  text-align: center;
	padding: 50px;
}
#goesUp img{
  width: 20%;
}
.btnSign {
	padding: 10px 25px;
	border: 1px solid transparent;
	border-radius: 5px;
	background: linear-gradient(to right, rgba(182, 151, 246) , rgba(98, 217, 231));
	color: #fff;
}
/*.btn-gradient-border {
	padding: 10px 25px;
    color: #000;
    border: 1px solid transparent;
		border-radius: 5px;
    border-image: linear-gradient(to right, rgba(182, 151, 246) , rgba(98, 217, 231));
    border-image-slice: 1;
    background: transparent;
		background: linear-gradient(to right, rgba(182, 151, 246) , rgba(98, 217, 231));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}*/
.btn-gradient-border {
	padding: 10px 25px;
	border: 1.1px;
	border-style: solid;
	border-color: #62d9e7 #b697f6 #62d9e7 #b697f6;
	border-radius: 5px;
	background-image: -webkit-gradient(linear, left, right, from rgba(182, 151, 246, 0.86) , to rgba(98, 217, 231, 0.86));
	background-image: -webkit-linear-gradient(left, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
	background-image: -moz-linear-gradient(right, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
	background-image: -o-linear-gradient(right, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
	background-image: linear-gradient(to right, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	width: 70%;
	margin-bottom: 10px;
}
.btn-gradient-border:hover {
	background: #62d9e7;
	border-color: #b697f6;
	background: linear-gradient(to right, #b697f6 , #62d9e7);
	text-decoration: none;
	-webkit-text-fill-color: #fff;
	color: rgba(182, 151, 246);
}
.btn-gradient-border2 {
	padding: 10px 25px;
	border: 1.1px;
	border-style: solid;
	border-color: #62d9e7 #b697f6 #62d9e7 #b697f6;
	border-radius: 5px;
	background-image: -webkit-gradient(linear, left, right, from rgba(182, 151, 246, 0.86) , to rgba(98, 217, 231, 0.86));
	background-image: -webkit-linear-gradient(left, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
	background-image: -moz-linear-gradient(right, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
	background-image: -o-linear-gradient(right, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
	background-image: linear-gradient(to right, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
	-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		-ms-background-clip: text;
		-ms-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	width: 98%;
	margin-bottom: 10px;
}
.btn-gradient-border2:hover {
	background: #62d9e7;
	border-color: #b697f6;
	background: linear-gradient(to right, #b697f6 , #62d9e7);
	text-decoration: none;
	-webkit-text-fill-color: #fff;
}
.buttonsList {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
iframe {
	width: 100%;
	height: 260px;
}
.headerImg iframe, .videoFolow iframe {
	height: 520px;
}
.folow {
	text-align: center;
	padding: 50px;
}
.gradient {
	background: linear-gradient(to bottom, rgba(250,250,250), rgba(255,255,255));
	padding: 50px 0;
}
.videoFolow {
	text-align: center;
	padding: 20px 0 0;
	height: 540px;
}
.videoFolow h2 {
	padding-bottom: 20px;
}
.videos {
	height: 260px;
}

.video {
  background: #000;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*mix-blend-mode: screen;*/
}
.video img { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; z-index: 20; cursor: pointer; }

.video iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* image poster clicked, player class added using js */
.video.player img { display: none; }
.video.player:after { display: none; }

.playBtn, .playBtn2, .playBtn3 , .playBtnCreators, .playBtnPublicFig  {
	position: absolute;
	top: 50%;
	left: 50%;
}
.playBtn img, .playBtn2 img {
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
}
.playBtn3 img {
	width: 100px;
	height: 100px;
	margin-left: -50px;
}
.playBtnPublicFig img{
	width: 160px;
	height: 100px;
	margin-top: -50px;
	margin-left: -80px;
}
.playBtnCreators img {
	width: 120px;
	height: 100px;
	margin-top: -50px;
	margin-left: -60px;
}
.upper {
	text-transform: uppercase;
}
.simbols {
	text-align: center;
	padding-bottom: 30px;
}
.users {
	padding-top: 20px;
}
.slidecontainer {
    width: 100%;
		padding-bottom: 5px;
}

.sliderRange {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderRange:hover {
    opacity: 1;
}
.sliderRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
		background-image: -webkit-gradient(linear, left, right, from rgba(182, 151, 246, 0.86) , to rgba(98, 217, 231, 0.86));
		background-image: -webkit-linear-gradient(left, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
		background-image: -moz-linear-gradient(right, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
		background-image: -o-linear-gradient(right, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
		background-image: linear-gradient(to right, rgba(182, 151, 246, 0.86) , rgba(98, 217, 231, 0.86));
    cursor: pointer;
}

.sliderRange::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: linear-gradient(to right, rgba(182, 151, 246) , rgba(98, 217, 231));
    cursor: pointer;
}

input[type="range"] {
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 20px;
    width: 100%;
    cursor: pointer;
    border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
    background: #ddd;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px; /* 1 */
    height: 80px;
    background: #fff;
    box-shadow: -100vw 0 0 100vw #62d9e7;
    border: 1px solid #999; /* 1 */
}

::-moz-range-track {
    height: 40px;
    background: #ddd;
}

::-moz-range-thumb {
    background: #fff;
    height: 80px;
    width: 20px;
    border: 3px solid #999;
    border-radius: 0 !important;
    box-shadow: -100vw 0 0 100vw #b697f6;
    box-sizing: border-box;
}

::-ms-fill-lower {
    background: #b697f6;
}

::-ms-thumb {
    background: #fff;
    border: 2px solid #999;
    height: 80px;
    width: 20px;
    box-sizing: border-box;
}

::-ms-ticks-after {
    display: none;
}

::-ms-ticks-before {
    display: none;
}

::-ms-track {
    background: #ddd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-tooltip {
    display: none;
}
.someIcons {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.someIcons a {
	width: 10%;
}
.mode {
	text-align: center;
}
.inlineMode {
	display: inline-block;

}
.inlineMode span {
	display: block;
	padding-top: 10px;
}
.new {
	display: inline-block;
	padding-right: 10px;
}
img {
	margin-top: 0px;
}
.footerLinks:hover {
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
}
@media only screen and (min-width: 768px) {
	.gradient img {
		margin-top: 50px;
	}
	.new {
		margin-top: 0 !important;
	}
	.navbar-nav>li {
		float: left;
	}
}
@media only screen and (max-width: 1024px) {
	.gradient {
		text-align: center;
	}
}
@media only screen and (min-width: 1024px) {
	.btn-gradient-border2 {
		width: 18%;
	}
	.btn-gradient-border {
		width: 30%;
	}
	img {
		margin-top: 20px;
	}
	.clients {
		padding: 100px;
	}
	.navbar-default .navbar-nav>li>a {
		font-size: 15px;
	}
	.logo {
		width: 50px;
		height: 50px;
		margin: 15px 0 15px 50px;
	}
	p {
		font-size: 25px;
	}
	h6 {
		font-size: 15px;
	}
	img {
		margin-top: 0;
	}
	footer {
		text-align: left;
		padding: 40px;
	}
	footer ul li {
		font-size: 15px;
	}
	h4 {
		font-size: 18px;
	}
  #goesUp img {
		width: 20%;
  }
	#goesUp {
		margin-top: -30%;
		margin-left: 5%;
		margin-left: 20px;
	}
	.folow {
		margin-top: -15%;
		padding-bottom: 100px;
	}
	.gradient {
		padding: 100px 0;
	}
	.upper {
		font-size: 15px;
	}
	h1 {
		font-size: 55px;
	}
	h2 {
		font-size: 40px;
	}
	.playBtn img {
		width: 140px;
		height: 140px;
		margin-top: -70px;
		margin-left: -70px;
	}
	.videoFolow iframe {
		height: 520px;
	}
	.zoneRight {
		margin-top: 200px;
	}
	.middle {
		margin-top: 100px;
		padding: 20px;
	}
}
@media only screen and (min-width: 1800px) {
	h3 {
		font-size: 40px;
	}
	p {
		font-size: 25px;
	}
	.playBtn img {
		width: 200px;
		height: 200px;
		margin-top: -100px;
		margin-left: -100px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-collapse.collapse {
          display: none !important;
        }
        .navbar-collapse.collapse.in {
          display: block !important;
        }
        .navbar-header .collapse, .navbar-toggle {
          display:block !important;
        }
        .navbar-header {
          float:none;
    	}
}
